In [24]:
import pandas as pd
import os

In [25]:
os.getcwd()

'/Users/haydenprescott/projects/red-flag-text-detection/data'

In [26]:
set1_df = pd.read_csv("../source_data/set1/set1_processed.csv", delimiter=",")
set1_df.head()

,Unnamed: 0,id,created_at,text,source,sentiment,label
0,0,870430762255953920,Fri Jun 02 00:04:00 +0000 2017,"Hey, look - I found my social anxiety again. W...","<a href=""http://tapbots.com/software/tweetbot/...",-1,1
1,1,870430770141253632,Fri Jun 02 00:04:02 +0000 2017,RT @shannonpurser: Depression sucks. I'm in th...,"<a href=""http://twitter.com/download/iphone"" r...",-1,1
2,2,870430771592413187,Fri Jun 02 00:04:02 +0000 2017,RT @HRoyalThighness: Lol my social anxiety goe...,"<a href=""http://twitter.com/download/iphone"" r...",-1,1
3,3,870430772800479233,Fri Jun 02 00:04:02 +0000 2017,"How to Deal with Stress, Anxiety and Bipolar D...","<a href=""http://www.hootsuite.com"" rel=""nofoll...",-1,1
4,4,870430776432644096,Fri Jun 02 00:04:03 +0000 2017,RT @COCONUTOILBAE: when you want to be friends...,"<a href=""http://twitter.com/download/iphone"" r...",0,0

In [27]:
set2_df = pd.read_csv("../source_data/set2/set2_processed.csv", delimiter=",")
set2_df.head()

,Unnamed: 0,text,subreddit,label,pos,neg,id
0,6,Where should I read my college required readin...,cc,0,0.000,0.000,0
1,7,"Your and You’re An easy way to remember it, fo...",cc,0,0.078,0.066,1
2,8,"did i miss a day? oh poop. well, halfway to 5 ...",cc,0,0.353,0.028,2
3,9,My flight just got delayed for super long.. wh...,cc,0,0.065,0.032,3
4,11,a Thank you guys so much for responding. I rea...,sw,1,0.422,0.000,4

In [28]:
combined_df = set1_df[["id", "text", "label"]]
combined_df["source_data"] = "set1"
combined_df.head()

/var/folders/wz/hlbw2xcs363dblqskfxchrrc0000gn/T/ipykernel_16407/1718222674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df["source_data"] = "set1"

,id,text,label,source_data
0,870430762255953920,"Hey, look - I found my social anxiety again. W...",1,set1
1,870430770141253632,RT @shannonpurser: Depression sucks. I'm in th...,1,set1
2,870430771592413187,RT @HRoyalThighness: Lol my social anxiety goe...,1,set1
3,870430772800479233,"How to Deal with Stress, Anxiety and Bipolar D...",1,set1
4,870430776432644096,RT @COCONUTOILBAE: when you want to be friends...,0,set1

In [29]:
set2_extract = set2_df[["id", "text", "label"]]
set2_extract["source_data"] = "set2"
combined_df = combined_df.append(set2_extract)
combined_df.head()

/var/folders/wz/hlbw2xcs363dblqskfxchrrc0000gn/T/ipykernel_16407/4187373553.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  set2_extract["source_data"] = "set2"
/var/folders/wz/hlbw2xcs363dblqskfxchrrc0000gn/T/ipykernel_16407/4187373553.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(set2_extract)

,id,text,label,source_data
0,870430762255953920,"Hey, look - I found my social anxiety again. W...",1,set1
1,870430770141253632,RT @shannonpurser: Depression sucks. I'm in th...,1,set1
2,870430771592413187,RT @HRoyalThighness: Lol my social anxiety goe...,1,set1
3,870430772800479233,"How to Deal with Stress, Anxiety and Bipolar D...",1,set1
4,870430776432644096,RT @COCONUTOILBAE: when you want to be friends...,0,set1

In [30]:
combined_df.to_csv("./depressive_speech/depressive_speech.csv", index=False)